* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: #313131;
  color: white;
  font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

footer {
  padding: 50px 0 50px 0;
  background: black;
}

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  min-height: 60px;
  background: rgba(0, 0, 0, 0.9);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
}

.logo-div {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 8;
  display: -ms-grid;
  display: grid;
  min-height: 60px;
}

.logo-div p {
  font-size: 1.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hamburger {
  -ms-grid-column: 23;
      grid-column-start: 23;
  grid-column-end: 24;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background: #f1f1f1;
  margin: 6px auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.jumbotron {
  height: 100vh;
  margin: auto;
  position: relative;
  background: #717171;
}

.slide {
  display: none;
}

.slide-img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.next, .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.next:hover, .prev:hover {
  background: rgba(0, 0, 0, 0.8);
}

.dots-and-circles {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.navlinks {
  -ms-grid-column: 8;
      grid-column-start: 8;
  grid-column-end: 24;
  display: -ms-grid;
  display: grid;
}

.main-nav {
  list-style: none;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.navlink {
  padding: 0px;
  font-size: 1.25em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navlink a {
  height: 100%;
  padding: 20px 0 20px 0;
}

.navlink:hover {
  background: #a10c0c;
}

.overlay-navlinks {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 10;
}

.overlay-navlinks:nth-child(1) {
  border-top: 2px solid #e6e6e6;
}

.overlay-navlink {
  font-size: 1.25em;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #e6e6e6;
}

.overlay-navlink a {
  height: 100%;
  padding: 20px 0 20px 0;
}

.overlay-navlink:hover {
  background: #a10c0c;
}

.contact-us {
  width: 100%;
  margin: 0 auto;
  background: #e2caca;
  padding: 50px 0 50px 0;
}

.section-container {
  margin: 0 auto;
  width: 80%;
}

.section-container hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.section-container p {
  font-size: 36px;
  width: 80%;
  margin: 30px auto 0 auto;
  text-align: center;
  color: #222222;
  max-width: 600px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
}

.img-box {
  width: 50%;
}

.img-box img {
  display: block;
  width: 100%;
}

.text-box {
  padding: 30px 20px 20px 30px;
  width: 50%;
  color: #222;
}

.text-box h2 {
  margin-bottom: 20px;
}

.text-box p {
  font-size: 1.1rem;
  line-height: 24px;
  max-width: 500px;
}

.link-button {
  border-radius: 5px;
  display: block;
  max-width: 300px;
  font-size: 1.3rem;
  text-align: center;
  border: 2px solid black;
  margin: 50px auto 0 auto;
  padding: 20px 40px;
  color: #222222;
}

.footer-logo {
  margin: 0 auto 20px auto;
  text-align: center;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1100px) {
  .footer-container {
    width: 70%;
  }
}

.footer-nav {
  width: 33.3%;
}

.footer-nav ul li {
  margin: 10px 0 10px 0;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
}

.contact-info {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-info p i {
  margin-right: 5px;
}

.social-media-section {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media-pins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 30px 0 30px;
  margin-bottom: 100px;
}

.social-media-pins div {
  width: 50px;
  height: 50px;
  padding-top: 12px;
  border-radius: 50%;
}

@media (max-width: 664px) {
  .social-media-pins {
    font-size: 16px;
    margin-bottom: 120px;
  }
  .social-media-pins div {
    width: 25px;
    height: 25px;
    padding-top: 4px;
    border-radius: 50%;
  }
}

.facebook-pin {
  background: #3C5A99;
}

.twitter-pin {
  background: #1DA1F2;
}

.instagram-pin {
  background: #833AB4;
}

#nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[24];
      grid-template-columns: repeat(24, 1fr);
  z-index: 1;
  background: black;
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 60px;
}

@media (min-width: 830px) {
  #nav-overlay {
    display: none;
  }
}

@media (max-width: 1050px) {
  .text-box {
    padding: 10px 20px 10px 30px;
  }
  .link-button {
    margin-top: 10px;
    max-width: 200px;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
}

@media (max-width: 956px) {
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .img-box {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .about .text-box {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  .about .text-box p {
    margin: 0 auto;
  }
}

@media (max-width: 830px) {
  .navlinks {
    -ms-grid-column: 3;
        grid-column-start: 3;
    display: block;
  }
  .main-nav {
    border-top: 1px solid rgba 0, 0, 0, 0.7;
    display: none;
    text-align: left;
  }
  .hamburger {
    display: inline-block;
  }
}

@media (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/*# sourceMappingURL=index.css.map */