$navbar-color: rgba(0, 0, 0, 0.9);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background: #313131;
  color: white;
  font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

footer {
  padding: 50px 0 50px 0;
  background: black;
}

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  min-height: 60px;
  background: $navbar-color;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.logo-div {
  
  grid-column-start: 3;
  grid-column-end: 8;
  display: grid;
  min-height: 60px;

  p {
    font-size: 1.5rem;
    align-self: center;
  }
}

.hamburger {
  grid-column-start: 23;
  grid-column-end: 24;
  display: none;
  align-self: center;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background: #f1f1f1;
  margin: 6px auto;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
  transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

.jumbotron {
  height: 100vh;
  margin: auto;
  position: relative;
  background: #717171;
}

.slide {
  display: none;
}

.slide-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.next, .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.next:hover, .prev:hover {
  background: rgba(0,0,0,0.8);
}

.dots-and-circles {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background: #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.navlinks {
  grid-column-start: 8;
  grid-column-end: 24;
  display: grid;
}

.main-nav {
  list-style: none;
  display: grid;
  text-align: center;
  grid-column-start: span 5;
  grid-template-columns: repeat(5, 1fr);
}

.navlink {
  padding: 0px;
  font-size: 1.25em;
  transition: 0.25s;
  display: grid;
  align-items: center;

  a {
    height: 100%;
    padding: 20px 0 20px 0;
  }

  &:hover {
    background: rgb(161, 12, 12);
  }
}

.overlay-navlinks {
  grid-column-start: 3;
  grid-column-end: 10;
}

.overlay-navlinks:nth-child(1) {
  border-top: 2px solid #e6e6e6;
}

.overlay-navlink {
  font-size: 1.25em;
  transition: 0.25s;
  display: grid;
  align-items: center;
  border-bottom: 2px solid #e6e6e6;

  a {
    height: 100%;
    padding: 20px 0 20px 0;
  }

  &:hover {
    background: rgb(161, 12, 12);
  }
}

.contact-us {
  width: 100%;
  margin: 0 auto;
  background: rgb(226, 202, 202);
  padding: 50px 0 50px 0;
}

.section-container {
  margin: 0 auto;
  width: 80%;
}

.section-container hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0 ,0 ,0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.section-container p {
  font-size: 36px;
  width: 80%;
  margin: 30px auto 0 auto;
  text-align: center;
  color: #222222;
  max-width: 600px;
}

.about {
  display: flex;
  background: #f1f1f1;
}

.img-box {
  width: 50%;

  img {
    display: block;
    width: 100%;

  }
}

.text-box {
  padding: 30px 20px 20px 30px;
  width: 50%;
  color: #222;

  h2 {
    margin-bottom: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 24px;
    max-width: 500px;
  }
}

.link-button {
  border-radius: 5px;
  display: block;
  max-width: 300px;
  font-size: 1.3rem;
  text-align: center;
  border: 2px solid black;
  margin: 50px auto 0 auto;
  padding: 20px 40px;
  color: #222222;
}

.footer-logo {
  margin: 0 auto 20px auto;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 1100px) {
    width: 70%;
  }
}

.footer-nav {
width: 33.3%;

  ul li {
    margin: 10px 0 10px 0;
  }

  ul li a:hover {
    text-decoration: underline;
  }
}

.contact-info {
width: 33.3%;
display: flex;
flex-direction: column;
justify-content: space-between;

  p i {
    margin-right: 5px;
  }
}

.social-media-section {
width: 33.3%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.social-media-pins {
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  padding: 0 30px 0 30px;
  margin-bottom: 100px;

  div {
    width: 50px;
    height: 50px;
    padding-top: 12px;
    border-radius: 50%;
  }

  @media (max-width: 664px) {
    font-size: 16px;
    margin-bottom: 120px;

    div {
      width: 25px;
      height: 25px;
      padding-top: 4px;
      border-radius: 50%;
    }
  }
}

.facebook-pin {
  background: #3C5A99;
}

.twitter-pin {
  background: #1DA1F2;
}

.instagram-pin {
  background: #833AB4;
}

#nav-overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  z-index: 1;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  margin-top: 60px;

  @media (min-width: 830px) {
    display: none;
  }
}

@media (max-width: 1050px) {
  .text-box {
    padding: 10px 20px 10px 30px;
  }
  .link-button {
    margin-top: 10px;
    max-width: 200px;
    padding: 10px 20px;
    font-size: 1.1rem;
  }
}

@media (max-width: 956px) {
  .about {
    flex-wrap: wrap;

    .img-box {
      width: 100%;
      order: 1; 
    }
    .text-box {
      width: 100%;
      order: 2;
      text-align: center;

      p {
         margin: 0 auto;
      }
    }
  }
}

@media (max-width: 830px) {
  .navlinks {
    grid-column-start: 3;
    display: block;
  }
  .main-nav {
    border-top: 1px solid rgba (0, 0, 0, 0.7);
    display: none;
    text-align: left;
  }
  .hamburger {
    display: inline-block;
  }
}

@media (max-height: 450px) {
  .overlay a {font-size: 20px;}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}